<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="dependencyVersion" value="Highest" />
    </config>
    <packageRestore>
        <add key="enabled" value="true" />
        <add key="automatic" value="true" />
    </packageRestore>
    <packageSources>
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="pkgs.github.com" value="https://nuget.pkg.github.com/josemaria-toro/index.json" protocolVersion="3" />
    </packageSources>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
</configuration>
